/* Global */
body {
  font-family: "Times New Roman", Times, serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

:root {
  color-scheme: only light;
}

/* Home page */
.home-content {
  margin-left: 234px;
}

.home-title {
  font-size: 1.4em !important;
}

.home-subtitle {
  font-style: italic;
  text-align: center;
  margin-bottom: 48px;
}

.sticky {
  float: left;
  position: sticky;
  width: 234px;
  z-index: 1;
  top: 0;
}

.sidebar-container {
  background: url(../images/featured_background.png) repeat-y;
  margin-top: -64px;
  padding-bottom: 64px;
  height: 100vh;
}

.sidebar {
  font-size: 0.9em;
  position: absolute;
  padding: 16px 0;
}

.sidebar p {
  margin: 8px 16px;
}

.featured-header {
  background: url(../images/featured_dna.png) no-repeat;
  height: 46px;
  margin: 64px 0 16px 8px;
  padding: 10px 0 0 80px;

  font-family: "Helvetica", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  color: #dd312f;
}

.featured-article {
  margin-bottom: 48px;
}

.featured-link {
  text-align: center;
}

.featured-link a {
  font-weight: bold;
}

.snippet {
  color: #333;
  text-align: justify;
}

.more {
  margin: 24px 8px 8px 8px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  color: #666;
}

.main {
  margin: -64px auto 0 auto;
  padding: 64px 0;
  width: 70ch;
  font-size: 18px;
}

.main p {
  margin: 16px auto;
  line-height: calc(1ex / 0.32);
}

.red {
  color: #cc0000;
}

.green {
  color: #008000;
}

.gold {
  color: #ff9900;
}

.promo-video {
  margin: 64px auto;
}

.promo-video video {
  width: 640px;
}

.caption {
  margin: 8px 0;
  color: #666;
  text-align: center;
  font-style: italic;
}

#motion-container {
  width: 100% !important;
  height: 90px;
  white-space: nowrap;
}

/* Articles page */
.articles-list ul {
  margin: 32px 0;
}

.articles-list li {
  padding: 16px 0;
  list-style: none;
}

.writer-title {
  margin-top: 8px;
  font-style: italic;
  font-size: 0.9em;
}

.byline {
  margin-top: 4px;
}

.articlebody {
  margin: 16px 0;
}

/* Credits page */
.credits {
  text-align: center;
}

.who {
  margin: 64px 0 32px 0;
  text-transform: uppercase;
  color: #800000;
  font-weight: bold;
}

.free-hill {
  margin-top: 64px;
  text-decoration: underline;
}

.movement {
  width: 60ch;
  margin: 64px auto;
}

.funding {
  font-size: 0.9em;
  text-align: center;
}

/* FHPS page */
.fhps {
  padding: 16px 0 64 0;
}

.fhps-logo {
  text-align: center;
  margin-bottom: 32px;
}

.fhps-logo img {
  width: 100%;
  max-width: 395px;
}

.fhps a:link,
.fhps a:visited,
.fhps a:hover,
.fhps a:active {
  text-decoration: none;
}

/* Links page */
.links-content p {
  padding: 16px 0;
}

/* Support page */
.support {
  width: 320px;
}
.divider {
  margin: 48px 0;
  width: 320px;
  border-bottom: 1px solid #000;
}

.location {
  text-decoration: underline;
  margin-bottom: 32px;
}

/* Join page */
.join-form {
  margin-bottom: 100px;
  max-width: 640px;
  font-size: 0.9em;
}

.form-row {
  background: #086b08;
  color: #ffffff;
  padding: 4px 8px;

  display: flex;
  justify-content: space-between;
}

.alt {
  background: none;
  color: #000000;
}

.form-control {
  flex: 0 1 220px;
  text-align: right;
}

.form-input {
  width: 204px;
}

.form-textarea {
  width: 204px;
  height: 100px;
}

.form-select {
  width: 212px;
}

.sex {
  display: inline-block;
  margin: 0 32px 0 4px;
}

.submit-button {
  text-align: center;
  margin-top: 32px;
}

/* General */
.page-content {
  font-size: 18px;
  line-height: calc(1ex / 0.32);

  margin: 32px auto 64px auto;
  max-width: 100%;
  width: 70ch;
}

.page-content ol {
  padding-left: 16px;
  counter-reset: list;
}

li {
  padding: 4px 0;
}

.page-content ol > li {
  list-style: none;
}

.page-content ol > li:before {
  content: "(" counter(list, numeric) ") ";
  counter-increment: list;
}

.page-header {
  font-family: "Helvetica", sans-serif;
  letter-spacing: 0.2em;
  font-size: 1.2em;
  font-weight: 800;
  color: #dd312f;

  text-align: center;
  margin-bottom: 32px;
}

.section-header {
  font-weight: bold;
}

section {
  padding: 1.2em 0;
}

.note {
  font-size: 0.9em;
  color: #666;

  text-align: center;
  margin-bottom: 32px;
}

/* Navigation */
.nav {
  position: relative;
  width: 100%;
  z-index: 2;
}

.nav img {
  display: block;
}

.nav a:link,
.nav a:visited,
.nav a:hover,
.nav a:active {
  text-decoration: none;
}

.nav a img.over,
.nav a:hover img.default {
  display: none;
}

.nav a img.default,
.nav a:hover img.over {
  display: inherit;
}

.primary-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.primary-links {
  height: 29px;
  display: flex;
}

.secondary-links {
  display: flex;
}

.articles-link {
  width: 158px;
}

.gradation {
  background: url(../images/red_gradation.gif) repeat-x;
  flex: 1;
}

.banner-left {
  height: 140px;
  flex: 0;
}

.banner-right {
  width: 384px;
  height: 111px;
}

.graphic-mid {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 16px 32px;
}

.logo img {
  height: 75px;
}

.nav-fill {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.secondary-nav {
  box-shadow: inset 0px 2px 0px 0px #000;
  height: 16px;
  background: #086b08;
  display: flex;
}

.nav-under {
  display: flex;
}

/* Mobile site */

#mobile-overlay {
  display: none;
  flex-direction: column;
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}

#nav-open,
#nav-close {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 5;
}

#nav-logo {
  padding-top: 48px;
  display: none;
  text-align: center;
  flex: 0 1 140px;
}

#nav-logo img {
  height: 75px;
}

#nav-close {
  display: none;
}

.mobile-nav {
  flex: 1;
  margin: 0 auto;
  padding-bottom: 128px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-nav a,
.mobile-nav a:active,
.mobile-nav a:visited,
.mobile-nav a:hover {
  font-family: "Helvetica", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #086b08;
  display: block;
}

@media (max-width: 900px) {
  .primary-links,
  .secondary-links {
    display: none;
  }

  .primary-nav {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    max-width: 651px;
  }

  .banner-left {
    height: fit-content;
    flex: 0.4101;
  }

  .nav-fill {
    flex: 0.5899;
    margin-right: 16px;
  }

  .banner-left img,
  .under-right img,
  .graphic-mid img,
  .graphic-mid {
    height: auto;
    width: 100%;
  }

  .nav-under {
    display: flex;
    width: 100vw;
    max-width: 672px;
    margin-bottom: 32px;
  }

  .under-left {
    flex: 0.3974;
  }

  .under-right {
    flex: 0.6026;
    margin-right: 16px;
  }

  .under-left img,
  .under-right img {
    width: 100%;
  }

  #nav-open {
    display: block;
  }

  .logo {
    display: none;
    position: absolute;
    top: 64px;
    z-index: 6;
  }

  .page-content {
    margin: 0;
    padding: 0 16px;
    width: inherit;
  }

  .page-content ul {
    padding-left: 0;
  }

  .home-content {
    margin-left: 0;
  }

  .home-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .home-subtitle {
    padding: 0 16px;
  }

  .main {
    width: inherit;
  }

  .main p {
    padding: 0 16px;
  }

  #motion-container {
    width: 100vw !important;
  }

  .promo-video video {
    width: 100vw;
  }

  .sl-counter {
    top: auto !important;
    right: auto !important;
    bottom: 16px !important;
    width: 100vw;
    text-align: center;
  }

  .sl-prev {
    margin-top: 30vh !important;
    margin-left: -8px !important;
  }

  .sl-next {
    margin-top: 30vh !important;
    margin-right: 32px !important;
  }

  .sticky {
    float: none;
    position: relative;
    width: 100vw;
    margin-top: 32px;
  }

  .sidebar {
    font-size: 1em;
    line-height: calc(1ex / 0.32);
  }
  .sidebar-container {
    background: none;
  }

  .featured-header {
    margin: 32px auto;
    width: 140px;
  }

  .featured-link a {
    font-size: 1.1em;
  }

  .fhps-text ul,
  section ul {
    padding-left: 32px !important;
  }

  .movement {
    width: auto;
  }

  .form-input {
    width: 160px;
  }

  .form-select {
    width: 168px;
  }

  .form-textarea {
    width: 160px;
    height: 64px;
  }

  .form-control {
    flex: 0 1 200px;
  }

  .label {
    flex: 0 0 40vw;
    padding-right: 8px;
  }

  .sex {
    display: inline-block;
    margin: 0 4px;
  }

  .support {
    margin-top: 32px;
  }
}
