/* Global */

@font-face {
  font-family: "ExtendedBlack";
  src: url("fonts/ExtendedBlack.woff2") format("woff2"),
    url("fonts/ExtendedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

/* Page template */
.page-content {
  font-size: 18px;
  line-height: calc(1ex / 0.32);

  margin: 32px 64px 64px 278px;
  max-width: 100%;
  width: 70ch;
}

@media (max-width: 768px) {
  .page-content {
    margin: 64px 48px;
  }
}

.page-content ol {
  padding-left: 16px;
  counter-reset: list;
}

li {
  padding: 4px 0;
}

.page-content ol > li {
  list-style: none;
}

.page-content ol > li:before {
  content: "(" counter(list, numeric) ") ";
  counter-increment: list;
}

.page-header {
  font-family: "ExtendedBlack", "Helvetica", sans-serif;
  letter-spacing: 0.2em;
  font-size: 1.2em;
  font-weight: 900;
  color: #dd312f;

  text-align: center;
  margin-bottom: 24px;
}

.section-header {
  font-weight: bold;
}

section {
  padding: 1.2em 0;
}

.note {
  font-size: 0.9em;
  color: #666;

  text-align: center;
  margin-bottom: 32px;
}

.divider {
  margin: 32px 0;
  width: 250px;
  border-bottom: 1px solid #000;
}

/* Articles page */
.articles-list li {
  padding: 16px 0;
  list-style: none;
}

/* FHPS page */
.fhps {
  padding: 16px 0 64 0;
}

.fhps-logo {
  text-align: center;
  margin-bottom: 32px;
}

.fhps a:link,
.fhps a:visited,
.fhps a:hover,
.fhps a:active {
  text-decoration: none;
}

/* Links page */
.links-content {
  font-size: 0.9em;
  line-height: normal;
}

/* Join page */

.join-form {
  margin-bottom: 100px;
  max-width: 640px;
  font-size: 0.9em;
}

.form-row {
  background: #086b08;
  color: #ffffff;
  padding: 4px 8px;

  display: flex;
  justify-content: space-between;
}

.alt {
  background: none;
  color: #000000;
}

.form-control {
  flex: 0 1 220px;
}

.form-input {
  width: 204px;
}

.form-select {
  width: 212px;
}

.submit-button {
  text-align: center;
  margin-top: 32px;
}

/* Navigation */
.nav {
  width: 100%;
}

.nav img {
  display: block;
}

.nav a:link,
.nav a:visited,
.nav a:hover,
.nav a:active {
  text-decoration: none;
}

.nav a img.over,
.nav a:hover img.default {
  display: none;
}

.nav a img.default,
.nav a:hover img.over {
  display: inherit;
}

.primary-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.primary-links {
  height: 29px;
  display: flex;
}

.secondary-links {
  display: flex;
}

.articles-link {
  width: 158px;
}

.gradation {
  background: url(../images/red_gradation.gif) repeat-x;
  flex: 1;
}

.banner-left {
  height: 140px;
  flex: 0;
}

.banner-right {
  width: 384px;
  height: 111px;
}

.graphic-mid {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: 8px;
}

.nav-fill {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.secondary-nav {
  background: url(../images/green_gradation.gif) repeat-x;
  display: flex;
}

.nav-under {
  display: flex;
}
